doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0 user-scalable=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title Andrei Taylor 
  // Bootstrap Core CSS
  link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
  // Fonts
  link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  // I think Ill lose the css for now
  //link(href='css/animate.css', rel='stylesheet')
  // Squad theme CSS
  link(href='css/style.css', rel='stylesheet')
  link(href='color/default.css', rel='stylesheet')
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    // Preloader
    #preloader
      #load
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='index.html')
            h1 ANDREI TAYLOR
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#intro') Home
            li
              a(href='#about') About
            li
              a(href='#projects') Projects
            li
              a(href='#experience') Experience
            li
              a(href='#contact') Contact
            // possible dropdown menu
            //li.dropdown
            //  a.dropdown-toggle(href='#', data-toggle='dropdown')
            //    | Projets 
            //    b.caret
            //  |           
            //  ul.dropdown-menu
            //    li
            //      a(href='#') Example menu
            //    |             
            //    li
            //      a(href='#') Example menu
            //    |             
            //    li
            //      a(href='#') Example menu
    // intro section
    section#intro.intro(style="background-size:cover")
      .slogan
        h2
          | My name is Andrei Taylor
        h4 I am a Software Engineer in Victoria, BC 
      .page-scroll
        a.btn.btn-circle(href='#about')
          i.fa.fa-angle-double-down.animated
    // /Section: intro
    // Section: about
    section#about.home-section.text-center
      .heading-about
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay='0.4s')
                .section-heading
                  h2 About Me
        .container
          .row.col-lg-4.col-lg-offset-2.col-md-4.col-md-offset-1.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
            .wow.slideInLeft(data-wow-delay='0.2s')
              img.img-responsive.img-circle(src='img/andreiprofile.png', alt='', style=projDimensions)
          .row4.col-lg-4.col-md-6.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            .wow.slideInRight(data-wow-delay='0.3s')
              br
              h4
                | I am a 3rd year Software Engineering student at the University of Victoria.
                | I in the past I have been the President of UVic AERO and an Account Manager for an Industrial Publishing Company.
                | I spend much of my spare time learning about technology and working on open source projects. 
                If you are looking for a dedicated and driven individual to join your team than look no further.
              p
                h3.
                  Languages: Javascript, C++, Python, Java
        br
        a.btn.btn-success.wow.slideInRight(type="button" href='/resume.pdf' data-wow-delay='0.4s')
          h1(style="margin:0")= "Resume "
            i.fa.fa-file-text-o.animated

    //=============Projects================
    // couple of variables to help make the logos the same size
    - var projWidth = 223
    - var projHeight = 223
    - var projDimensions = 'width:' + projWidth + 'px; height:' + projHeight + 'px' + ';margin: 0 auto' 
    section#projects.home-section.text-center
      .heading-about
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay='0.1s')
                .section-heading
                  h2 Extra Cirricular Projects 
      .container
        .row
          .col-lg-2.col-lg-offset-5
            hr.marginbot-50
        .row
          .col-xs-12.col-sm-6.col-lg-3
            - var AeroURl = "http://www.aero-ug.uvic.ca/index.php"
            .wow.bounceInUp(data-wow-delay='0.2s')
              .team.boxed-grey
                .inner
                  h5 Uvic Aero
                  |         
                  p.subtitle 
                  |  Aero is a student lead team that participates in unmanned aircraft competitions.
                  |  I designed and implemented a tracking algorithm that points an antenna at the plane to allow live image capture 
                  .avatar
                    a(href=AeroURl)
                      img.img-responsive.img-circle(src='img/team/aero.jpeg', alt='', style=projDimensions)
                  p.subtitle 
                  | languages: C and C++ 
                  p.subttle(style="margin:0px")
                    a(href=AeroURl)= "website"
          .col-xs-12.col-sm-6.col-lg-3
            - var boardGameTrackingURL = "http://www.boardgametracking.com"
            .wow.bounceInUp(data-wow-delay='0.25s')
              .team.boxed-grey
                .inner
                  h5 Board Game Tracking
                  |                         
                  p.subtitle 
                  |  A Web application that allows real time tracking of money in board games like Monopoly or Powergrid. 
                  |  The server is Nodejs with Express Middleware, the frontend logic is controlled with Angular JS
                  .avatar
                    a(href=boardGameTrackingURL)
                      img.img-responsive.img-circle(src='img/team/BGT.png', alt='', style=projDimensions)
                  p.subtitle
                  |  language: Javascript
                  p.subttle(style="margin:0px")
                    a(href=boardGameTrackingURL)= "website,   "
                      span
                        a(href="https://github.com/andreirtaylor/MoneyTracker") github
          .col-xs-12.col-sm-6.col-lg-3
            - var battleSnakeURL = "http://www.battlesnake.io"
            .wow.bounceInUp(data-wow-delay='0.3s')
              .team.boxed-grey
                .inner
                  h5 Battle Snake
                  p.subtitle 
                  |  Wrote an algorithm to control a snake in a battle arena. 
                  |  The snake was controlled through a restful api,
                  |  we wrote our server using bottle and guinicorn
                  .avatar
                    a(href=battleSnakeURL)
                      img.img-responsive.img-circle(src='img/team/battlesnake.jpg', alt='', style=projDimensions)
                  p.subtitle
                  |  language: Python
                  p.subttle(style="margin:0px")
                    a(href=battleSnakeURL)= "website,   "
                      span
                        a(href="https://github.com/cpjk/bs") github
          .col-xs-12.col-sm-6.col-lg-3
            - var MPGUrl = "http://engenuics.com/mpg/mpg-students/mpg-level-2-atmel/"
            .wow.bounceInUp(data-wow-delay='0.35s')
              .team.boxed-grey
                .inner
                  h5 MPG Microprocessor Training
                  p.subtitle
                  | MPG is a hands-on training course for embedded systems.
                  | I programed the board to play pong wirelessly against others. 
                  | I learned about programming embedded systems and building circuits
                  .avatar
                    a(href=MPGUrl)
                     img.img-responsive.img-circle(src='img/team/MPG.jpg', alt='', style=projDimensions)
                  p.subtitle
                  |  language: C
                  p.subttle(style="margin:0px")
                    a(href=MPGUrl)= "website"
    // /Section: about
    // Section: services
    section#experience.home-section.text-center
      .heading-about
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay='0.2s')
                .section-heading
                  h2 Work Experience 
      // couple of variables to help make the logos the same size
      - var logoWidth = 100
      - var logoHeight = 50
      - var logoDimensions = 'width:' + logoWidth + 'px; height:' + logoHeight + 'px'
      .container
        .row
          .col-lg-2.col-lg-offset-5
            hr.marginbot-50
        .row
          for job in jobs
            .col-sm-4.col-md-4.col-lg-4
              .wow.fadeInLeft(data-wow-delay='0.2s')
                .service-box
                  .service-icon
                    img(src='img/icons/' + job.icon, style= logoDimensions,  alt='')
                  .service-desc
                    h5= job.title
                    each line, val in job.description
                      if val % 2 == 0
                        p= line 
                      else
                        p
                          b= line

    // Section: contact
    section#contact.home-section.text-center
      .heading-contact
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay='0.2s')
                .section-heading
                  h2 Get in touch
      .container
        .row
          .col-lg-2.col-lg-offset-3
            .wow.bounceInDown(data-wow-delay='0.3s')
              a(href="https://github.com/andreirtaylor")
                i.fa.fa-github.fa-5x.text-center
                p Github
          .col-lg-2
            .wow.bounceInDown(data-wow-delay='0.3s')
              a(href="https://ca.linkedin.com/pub/andrei-ryan-taylor/2a/86a/aa9/en")
                i.fa.fa-linkedin.fa-5x
                p Linked In
          .col-lg-2
            .wow.bounceInDown(data-wow-delay='0.3s')
              a(href='mailto:andreirtaylor@gmail.com')
                i.fa.fa-envelope-o.fa-5x 
                p Email
          .col-lg-3
    // /Section: contact
    footer
      .container
        .row
          .col-md-12.col-lg-12
            .wow.shake(data-wow-delay='0.4s')
              .page-scroll.marginbot-30
                a#totop.btn.btn-circle(href='#intro')
                  i.fa.fa-angle-double-up.animated
            p &copy; Made with ❤  by Andrei Taylor.
    // Core JavaScript Files
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.scrollTo.js')
    script(src='js/wow.min.js')
    // Custom Theme JavaScript
    script(src='js/custom.js')
